<!-- Lavoriamo CTA Section Start -->
<div class="newsletter-section section newsletter10-shape-animation" data-bg-color="#00483C">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-4 divBottone">
                <button onclick="location.href='/it/contattami';" class="buttonCtaLavoriamo">Contattami!</button>
            </div>
            <div class="col-lg-8 col-md-8 textCtaLavoriamo">
                Sono un partner affidabile, che ama <b>FARE</b> e <b>TESTARE</b> senza perdersi in troppi preamboli, che si occupa di come far funzionare meglio gli aspetti tecnici ed implementativi delle idee che hai in testa e che vuoi portare online. <b>TI VA?</b>
            </div>
        </div>
    </div>
</div>
<!-- Lavoriamo CTA Section End -->