<div id="site-main-mobile-menu" class="site-main-mobile-menu">
    <div class="site-main-mobile-menu-inner">
        <div class="mobile-menu-header">
            <div class="mobile-menu-logo">
                <a href="/it"><img src="/images/logo/Logo-fBoschetti.png" alt="Logo Francesco Boschetti" /></a>
            </div>
            <div class="mobile-menu-close">
                <button class="toggle">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-menu-content">
            <nav class="site-mobile-menu">
                <ul>
                    <li class="position-static">
                        <a href="/it"><span class="menu-text">HOME</span></a>
                    </li>
                    <li class="position-static">
                        <a href="/it/chi-sono"><span class="menu-text">CHI SONO</span></a>
                    </li>
                    <li class="has-children">
                        <a href="/it/lavoriamo-insieme"><span class="menu-text">LAVORIAMO INSIEME</span></a>
                        <span class="menu-toggle"><i class="fas fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li><a href="/it/lavoriamo-insieme#Presentazione"><span class="menu-text">PRESENTAZIONE</span></a></li>
                            <li><a href="/it/lavoriamo-insieme#TipiDiCollaborazione"><span class="menu-text">COME COLLABORARE</span></a></li>
                            <li><a href="/it/lavoriamo-insieme#Consigli"><span class="menu-text">CONSIGLI</span></a></li>
                            <li><a href="/it/lavoriamo-insieme#Faq"><span class="menu-text">DOMANDE FREQUENTI</span></a></li>
                        </ul>
                    </li>
                    <li class="position-static menu-matchbrand">
                        <a href="/it/matchbrand"><span class="menu-text">MATCHBRAND</span></a>
                    </li>
                    <li class="position-static">
                        <a href="/it/contattami"><span class="menu-text">CONTATTAMI</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>