<div class="artist-quote-section section section-padding-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-12 mb20MobileIpadVer text-center">
                <img src="/images/homePage/fotoProfilo.jpg" alt="Francesco Boschetti" width="530" />
            </div>
            <div class="col-xl-7 col-lg-7 col-12 px-4">

                    <p>
                        <b class="sottorosso">Da oltre 20 anni lavoro online. </b><br />
                        Era il 1999, avevo 20 anni, quando iniziai a realizzare siti internet per le aziende della mia città, Sassuolo. Dopo pochi anni, acquisii <b>competenze sistemistiche</b> per capire come funzionano i server internet. Era un periodo in cui <span class="sottorosso">era normale occuparsi sia di questioni meramente tecniche, che di aspetti decisamente più legati all' "immagine"</span>, con tutti i molti limiti che la tecnologia poneva al tempo.
                    </p>

                    <p>Seguì una naturale evoluzione di queste <b class="sottorosso">competenze trasversali</b> verso un profondo <b>interesse per il marketing</b>: vendite, numeri e contesto di mercato. <b>Per sette anni, <span class="sottorosso">diressi il marketing</span> di un gruppo aziendale </span></b>manifatturiero che crebbe da un'unica azienda con qualche centinaia di migliaia di euro di fatturato a tre aziende, quattro marchi e <b>poco meno di 10 milioni di ricavi</b>.</p>

                    <p><b>Sono stato al fianco di <span class="sottorosso">oltre 250 imprenditori</span></b>, ho conosciuto le loro attività, le loro peculiarità e li ho aiutati a migliorare i numeri delle loro aziende.</p>

                   <p> Ho lavorato in molti settori differenti, <b>talvolta in esclusiva,</b> e posso portare una <b>visione trasversale</b> attingendo da un'esperienza decisamente eterogenea.</p>

                   <p class="text-center"><b class="sottorosso">SONO UN MARKETER esperto di INFORMATICA</b></p>

                    <p>Non so esattamente cosa posso fare per te fino a quando non mi parlerai di ciò che fai e di cosa credi che potresti migliorare. Per questo, il mio consiglio è di <b class="sottorosso">ISCRIVERTI ALLA MIA NEWSLETTER</b>, che è poi il mio <span class="sottorosso"><b>diario</b></span>. Lì racconto come <b>mi tiro su le maniche</b> e quello che faccio durante gli <b>incarichi</b>: magari troverai affinità e curiosità e, anche solo per capirne di più, <b class="sottorosso">ti verrà voglia di metterti in contatto con me</b>.</p>  
            </div>
        </div>
    </div>
</div>