 <!-- Profile Section Start  -->
 <div class="profile-section section section-padding-bottom" style="padding: 40px 0;">
    <div class="container">
        <div class="row align-items-lg-center">

            <div class="col-xl-6 col-md-6 mb20MobileIpadVer">
                <img src="/images/lavoriamoInsieme/fBoschetti.jpg" alt="Francesco Boschetti" />
            </div>
            
            <div class="col-xl-6 col-md-6">
                <div class="profile-info">


                    <p>Sono un partner <b>affidabile</b>, che ama <b>FARE</b> e <b>TESTARE</b> senza perdersi in troppi preamboli e che ama <span class="sottorosso"></span>analizzare e organizzare </span> i processi e i dati relativi al marketing. </p>

                    <p>Sono a mio agio con <b>software, siti internet e sistemi cloud</b> in genere e posso certamente essere una voce, informata e sopra le parti, <span class="sottorosso">che può aiutarti a districarti tra soluzioni</span> preconfezionate, soluzioni su misura o tra le moltissime sfumature che sono nel mezzo.</p>

                    <p>
                        Nel tempo ho notato che, forse non spesso ma più frequentemente di quanto si possa pensare, <b>una manciata di righe di software custom</b> possono automatizzare o rendere più precise e meno tediose alcune attività.
                        Scrivo software da molti anni e queste piccole <b>"utility interne"</b> sono il mio giocattolo preferito.
                    </p>

                    <p>Non sono un <b>NERD</b> completamente immerso nella tecnologia: sono stato direttore marketing di un gruppo manifatturiero per 7 anni che, <span class="sottorosso">da alcune centinaia di migliaia di euro di fatturato, è cresciuto fino ai <b>10 milioni</b> contando circa <b>70 dipendenti</b></span>.</p>
                    
                    <p>Ho collaborato a stretto contatto con <b class="sottorosso">titolari e direttori marketing e vendite</b> per lavorare sulla marca e sugli aspetti di <b>“softwarizzazione” della struttura d’offerta,</b> spesso ponendo il sito web al centro della costellazione di attività utile a coordinare comunicazione e vendita.</p>

                   <p> Mi piace <b class="sottorosso">parlare di business</b> e di come la <b>tecnologia</b> e il <b>cloud</b> possa migliorarlo, per poi <b>mettere in pratica</b> quello che valutiamo potrebbe funzionare.</p>

                </div>
            </div>

           
        </div>
    </div>
</div>
<!-- Profile Section End  -->   



<!-- Icone attività -->
<div class="container">
    <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-1 max-mb-n30">


        <div class="col max-mb-30">
            <div class="coaching-box">
                <div class="image">
                    <img src="/images/homePage/consulenza.png" alt="Consulenza" />
                </div>
                <div class="content">
                    <h3 class="title">Incarico</h3>
                    <p class="text-center">Assumo l'incarico e blocchiamo in modo esclusivo le giornate o le mezze giornate che riteniamo utili per progredire insieme su più fronti trasversali.</p>
                </div>
            </div>
        </div>

        <div class="col max-mb-30">
            <div class="coaching-box">
                <div class="image">
                    <img src="/images/homePage/infrastruttura.png" alt="Infrastruttura" />
                </div>
                <div class="content">
                    <h3 class="title">Progetto</h3>
                    <p class="text-center">Definiamo un obiettivo preciso e stretto, progettiamo come muoverci e insieme lavoreremo per raggiungerlo! </p>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- // END Icone attività -->