 <!-- Profile Section Start  -->
 <div class="profile-section section section-padding-bottom" style="padding: 40px 0;">
    <div class="container">
        <div class="row align-items-lg-center">

            <div class="col-xl-6 col-md-6 mb20MobileIpadVer">
                <img src="/images/lavoriamoInsieme/fBoschetti.jpg" alt="Francesco Boschetti" />
            </div>
            
            <div class="col-xl-6 col-md-6">
                <div class="profile-info">
                    <!-- <h3 class="profile-name">Maggie Strickland</h3>
                    <div class="author-career">/Advanced Educator</div> -->
                    <p>
                        Sono un partner <b>affidabile</b>, che ama <b>FARE</b> e <b>TESTARE</b> senza perdersi in troppi preamboli e che si occupa di <span class="sottorosso">come far funzionare meglio gli aspetti tecnici ed implementativi delle idee che hai in testa</span> e che vuoi portare <b >online</b>.
                    </p>
                    <p>Non sono un <b>NERD</b> completamente immerso nella tecnologia: <b>sono stato direttore marketing</b> di un gruppo manifatturiero per 7 anni che, <span class="sottorosso">da alcune centinaia di migliaia di euro di fatturato, è cresciuto fino ai 10 milioni contando circa <b>70 dipendenti</b>.</spna> </p>

                    <p>Ho collaborato a stretto contatto con <b>titolari e direttore vendite</b> per lavorare sulla <b>marca</b> e sugli aspetti di <b class="fst-italic"> “softwarizzazione” </b> personalizzata della struttura d’offerta ponendo <span class="sottorosso">il sito web al centro della costellazione di attività utile a coordinare <b>comunicazione</b> e <b>vendita</b></span>.</p>

                    <p>Chiusa quella lunga parentesi sono tornato da dove provenivo, <b>siti web</b>, <b>software</b> e <b>infrastruttura</b>. Mi piace <span class="sottorosso">parlare di business</span> e di come la tecnologia può migliorarlo per poi mettere in pratica quello che valutiamo potrebbe funzionare.</p>

                    <p>Mi trovo maggiormente a mio agio quando è necessario <b>rinnovare un progetto o portarlo ad un livello successivo</b> (come ad esempio <span class="sottorosso">sostituire software obsoleti, svecchiare siti web, integrare e far comunicare applicazioni tra loro, automatizzare, portare online i processi aziendali</span>) piuttosto che essere coinvolto nelle prime fasi di un’iniziativa completamente nuova.</p>

                </div>
            </div>

           
        </div>
    </div>
</div>
<!-- Profile Section End  -->   



<!-- Icone attività -->
<div class="container">
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1 max-mb-n30">

        <div class="col max-mb-30">
            <div class="coaching-box">
                <div class="image">
                    <img src="/images/homePage/areeRiservate.png" alt="Aree Riservate e WebApp" />
                </div>
                <div class="content">
                    <h3 class="title">Aree Riservate e WebApp</h3>
                    <p>Aree interne o esterne al sito che permettono agli utenti di trasmettere informazioni di varia natura e interagire con i processi interni.</p>
                </div>
            </div>
        </div>
        
        <div class="col max-mb-30">
            <div class="coaching-box">
                <div class="image">
                    <img src="/images/homePage/sitiInternet.png" alt="Siti Internet" />
                </div>
                <div class="content">
                    <h3 class="title">Siti Internet</h3>
                    <p>Presenze online che rappresentano il brand in voce e identità e che si integrano al flusso di lavoro dell’azienda.</p>
                </div>
            </div>
        </div>

        <div class="col max-mb-30">
            <div class="coaching-box">
                <div class="image">
                    <img src="/images/homePage/infrastruttura.png" alt="Infrastruttura" />
                </div>
                <div class="content">
                    <h3 class="title">Infrastruttura</h3>
                    <p>Un aiuto nella scelta, nell’acquisto, nella configurazione e nella gestione di domini, hosting, server e infrastrutture cloud.</p>
                </div>
            </div>
        </div>

        <div class="col max-mb-30">
            <div class="coaching-box">
                <div class="image">
                    <img src="/images/homePage/consulenza.png" alt="Consulenza" />
                </div>
                <div class="content">
                    <h3 class="title">Consulenza</h3>
                    <p>Un aiuto nella scelta, nell’acquisto, nella configurazione e nella gestione di domini, hosting, server e infrastrutture cloud.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // END Icone attività -->