<div class="intro10-section section section-fluid fix">

    <div class="container">
        <div class="row">

            <!-- Intro One Content Start -->
            <div class="col-12">
                <div class="intro10-content headline-active text-center">
                    <span class="sub-title">Ciao sono Francesco</span>
                    <h2 class="title">Oltre 20 anni di amore per internet e il software con un <span class="sottorosso">intenso intermezzo di direzione marketing</span></h2>
                    <!-- <h2 class="title">Oltre 20 anni di amore per le tecnolgie web con un intermezzo di direzione marketing</h2> -->
                    <!-- <button href="#" class="btn btn-primary-three btn-hover-secondary-three"> Qualcosa su di me </button> -->
                </div>
            </div>
            <!-- Intro One Content End -->

        </div>
    </div>

    <!-- Animation Shape Start -->
    <div class="shape shape-1">
        <span data-depth="3">
            <img src="/images/elements/artist-shape-01.png" alt="" />
        </span>
    </div>
    <div class="shape shape-2">
        <span data-depth="3">
            <img src="/images/elements/artist-shape-02.png" alt="" />
        </span>
    </div>
    <div class="shape shape-4">
        <span data-depth="3">
            <img src="/images/homePage/dots-left.png" alt="" />
        </span>
    </div>
    <div class="shape shape-5">
        <span data-depth="3">
            <img src="/images/homePage/disegno.png" width="225" alt="" />
        </span>
    </div>
    <div class="shape shape-6">
        <span data-depth="3">
            <img src="/images/homePage/tastiera.png"  width="354" alt="" />
        </span>
    </div>
    <div class="shape shape-8">
        <span data-depth="3">
            <img src="/images/homePage/dots-right.png" alt="" />
        </span>
    </div>
    <div class="shape shape-9">
        <span data-depth="3">
            <img src="/images/homePage/icone.png"  width="130" alt="" />
        </span>
    </div>
    <!-- Animation Shape End -->

</div>