<div class="footer-section section section-fluid-two">
    <div class="container">

       
        <div class="row max-mt-20">
            <div class="col">
                <p class="copyright">&copy; 2023 Francesco Boschetti  - P.IVA 03441170366 - REA PR-275538 - PEC: segno@pec.it<br>
                    <a href="/pdf/PrivacyPolicyClienti.pdf" target="_blank">Informativa Privacy Clienti </a>| <a href="/pdf/PrivacyPolicyFornitori.pdf" target="_blank">Informativa Privacy Fornitori</a> | <a href="/it/cookie-policy">Cookies Policy</a>
                </p>
            </div>
        </div>

    </div>
</div>