

<!-- Blog Section Start -->
<div class="section section-padding-bottom fix">
    <div class="container mt-5">
        <div class="row max-mb-n50">

            <div class="col-lg-4 col-12 order-lg-1 max-mb-50 menu-interno">
                <h2>SCORRI VELOCEMENTE</h2>
                <i class="fas fa-arrow-right"></i> &nbsp;<a href="#cosa" onclick="scrollToSection(event, '#cosa')">COS'È UNA CAMPAGNA DI CO-MARKETING</a><br />
                <i class="fas fa-arrow-right"></i> &nbsp;<a href="#digitale" onclick="scrollToSection(event, '#digitale')">MA È SOLO DIGITALE</a><br />
                <i class="fas fa-arrow-right"></i> &nbsp;<a href="#costo" onclick="scrollToSection(event, '#costo')">MA COSTA POCHISSIMO!</a><br />
                <i class="fas fa-arrow-right"></i> &nbsp;<a href="#prereq" onclick="scrollToSection(event, '#prereq')">PREREQUISITI</a><br />
                <i class="fas fa-arrow-right"></i> &nbsp;<a href="#cosa2" onclick="scrollToSection(event, '#cosa2')">COS'È MATCHBRAND</a>
            </div>

            <div class="col-lg-8 col-12 order-lg-2 max-mb-50">
                <!-- Blog Wrapper Start -->
                <div class="row row-cols-1 g-0">

                    <!-- Blog Start -->
                    <div class="blog-3 blog-details col">
                        <div class="thumbnail">
                            <img src="/images/matchbrand/logoPost.webp" alt="Matchbrand - Il co-marketing per chi si dà da fare"">
                        </div>
                        <!-- start error -->
                        <div class="info">
                            <h1 class="title text-center text-uppercase">Matchbrand <br />Il co-marketing per chi si dà da fare</h1>
                            <div class="desc">
                                <p>Credo nella collaborazione e nella cooperazione tra aziende.</p>

                                <p>Quasi ogni imprenditore con il quale ho collaborato (più di 250) mi ha sempre detto che <span class="fst-italic"><b>"trovare nuovi clienti è molto difficile!"</b></span></p>

                                <p>
                                    Certo che lo è!<br />
                                    E sono gli ultimi tipi di contatti che dovresti cercare.
                                </p>

                                <blockquote class="block-quote block-quote-matchbrand">Ci sono 7 tipi di clienti e il tipo più difficile da trasformare in fatturato è proprio colui che non ti conosce e non ha impattato, per lungo tempo, con il tuo marketing.</blockquote>

                                <p><span class="sottorosso">Nel corso del mio incarico di <b>direttore marketing</b></span> ho sempre investito un buona parte del budget che avevo a disposizione sulle <b>campagne di co-marketing</b> (ne ho impostate e gestite con <span class="sottorosso">HP, Zeiss, Zwick Roell, Selltek</span>... ) e mi hanno sempre dato ottimi risultati rispetto al costo e all’impegno profuso nell'organizzazione.</p>

                                <h2 class="text-uppercase sticky-ancore" id="cosa">Cos’è una campagna di co-marketing?</h2>
                                <p>In una campagna di co-marketing gli attori mettono a disposizione i reciproci canali di comunicazione per <span class="sottorosso">effettuare un <b>lancio congiunto e significativo</b> per entrambe le parti</span>. L’obiettivo è, per ogni parte, raggiugere i contatti dell’altra.</p>

                                <h2 class="text-uppercase">Chi è il partner ideale per una campagna di co-marketing?</h2>
                                <p>Il partner perfetto per attuare un’attività di co-marketing <span class="sottorosso">è colui che condivide con te lo stesso target</span> (per abitudini, capacità di spesa, attitudine…) <span class="sottorosso">ma non è tuo concorrente diretto o indiretto</span>. Una buona campagna si ha spesso con brand di “peso” e “valori” simili. </p>

                                <h2 class="text-uppercase">Mi fai qualche esempio?</h2>
                                <p>Per esempio un <b class="sottorosso">Villaggio Turistico per Famiglie</b> potrebbe promuovere sulla propria newsletter, sui canali social e con un espositore in un luogo della struttura <b class="sottorosso">un e-commerce di articoli per bambini</b>. L’e-commerce potrebbe mettere, in ogni pacco che spedisce,  un’ informativa del Villaggio con un’offerta dedicata.</p>

                                <p>Un produttore di <b class="sottorosso">impianti di fresatura CNC</b> potrebbe svolgere dei test su un particolare <b class="sottorosso">acciaio di un fornitore</b> e, insieme, potrebbero redigere un paper, magari coinvolgendo un esperto terzo. Il paper congiunto verrà condiviso sui rispettivi canali di comunicazione e spedito via posta a seguito di una campagna specifica, ai clienti delle due aziende.</p>

                                <h2 class="text-uppercase"  id="digitale">Ma è solo digitale?</h2>
                                <p><b class="sottorosso">No anzi!</b> I canali di comunicazione possono essere sia digitali che fisici così come il tipo di attività può essere sia online che offline.</p>

                                <h2 class="text-uppercase"  id="costo">Ma costa pochissimo!</h2>
                                <p><span class="sottorosso">La cosa bella è proprio quella</span>. Ci sono sicuramente aziende (non concorrenti), come te, che hanno i clienti che vorresti e tu hai sicuramente dei contatti che sarebbero utili ad altri. <b>Perché</b>, in buona sostanza, <b>non creare qualcosa insieme per <span class="fst-italic">“scambiarsi questi contatti”</span></b>?</p>

                                <p>
                                    Da <b>direttore marketing</b> era una cosa che <span class="sottorosso">mi piaceva moltissimo perché mi permetteva di</span>:
                                    <ul>
                                    <li>dividere i costi di creazione del materiale di comunicazione </li>
                                    <li>dividere il budget per la diffusione ed eventualmente per i media (o raddoppiarne l’efficacia)</li>
                                    <li>attirare persone che non mi conoscevano</li>
                                    <li>farmi presentare, a queste persone, da qualcuno di cui già ricevevano la comunicazione</li>
                                    <li>evitare quelle attività “a freddo”, come newsletter delle riviste, le pagine pubblicitarie nel vuoto, ecc...</li>
                                    </ul>
                                </p>

                                <h2 class="text-uppercase"  id="prereq">Quali sono i prerequisiti?</h2>
                                <p>
                                    <span class="sottorosso">Due soltanto:</spna> <br>
                                    <ol>
                                        <li><b>avere una lista contatti con i quali si comunica con costanza</b></li>
                                        <li><b>avere una comunicazione costante </b></li>
                                    </ol>
                                </p>

                                <p>Un’attività di co-marketing è efficace quando le persone amano un brand, si fidano del brand e si fidano se questi “gli presenta” qualcuno e questo si ottiene comunicando costantemente con i propri clienti.</p>

                                <h2 class="text-uppercase text-center" id="cosa2">Che cos’è MATCHBRAND</h2>

                                <blockquote class="block-quote block-quote-matchbrand">Matchbrand è il mio sogno nel cassetto: aiutare le aziende a conoscersi, a fidarsi l’una dell’altra e farle cooperare per attuare iniziative di co-marketing.</blockquote>

                                <h2 class="text-uppercase">Come funziona?</h2>
                                <p>E’ facilissimo. <br />
                                <b>Mi lasci i tuoi contatti nel modulo più in basso e poi faremo una call</b> (o se mi trovo nella tua zona in quel periodo posso passare a trovarti).</p>

                                <p>Nel corso della call mi racconterai di ciò che stai facendo in termini di comunicazione e contatto diretto costante con i clienti. Raccoglierò le informazioni e, appena riuscirò ad <b class="sottorosso">identificare un possibile MATCH con qualche altro brand </b>con il quale sono in contatto, organizzeremo una call congiunta per valutare i margini di collaborazione possibili.</p>

                                <p> Appena li troveremo, <b>organizzeremo una campagna congiunta e ne tracceremo i risultati</b>.</p>


                                <h2 class="text-uppercase"> Cosa ci guadagni?</h2>
                                <p>Mi piace aiutare le persone e mi piace che le loro aziende crescano: farlo insieme è appagante. Ma più probabilmente stai pensando  <span class="sottorosso fst-italic"><b>"Gratis non lavora nessuno. Come generi fatturato per te?"</b></span>.</p>

                                <h2 class="text-uppercase">GESTIONE DELLA CAMPAGNA</h2>
                                <p>
                                    Se, dopo la call a tre, i responsabili dei due marchi che ho identificato credono più utile collaborare solo tra loro, benissimo. Il mio compito terminerà lì. <br />
                                    Spesso, però, si ritiene che <b>un elemento di coordinamento, imparziale e non coinvolto direttamente, possa rendere la campagna più bilanciata</b> e l’organizzazione generale (in termini di tempi, pianificazione, raccolta del materiale, ecc) più puntuale. <br />
                                    In questo caso <span class="sottorosso">assumerò un piccolo incarico di gestione della campagna</span> per un costo da concordare.
                                </p>


                                <h2 class="text-uppercase">PROVVIGIONE SUI RISULTATI</h2>
                                <p>A volte le campagne possono avere anche un riscontro diretto sulle vendite. In quel caso si potrebbe valutare, <b span class="sottorosso">in aggiunta o in sostituzione ai costi di gestione</b>, una percentuale su ogni vendita.</p>

                                <h2 class="text-uppercase">CREAZIONE DEL MATERIALE</h2> 
                                <p>
                                    Quasi sempre è necessario creare del materiale di comunicazione congiunto e bilanciato. A volte i brand si accordano tra loro, ma <b span="sottorosso">molto spesso chiedono a me di aiutarli in modo che il risultato sia equilibrato</b>.
                                    Una parte del lavoro potrò svolgerla in prima persona, mentre per il resto <span class="sottorosso">ho molti collaboratori a cui piace lavorare con me</span> e che mi garantiscono una piccola parte per il coordinamento dell’attività verso i brand.
                                </p>

                                <h2 class="text-uppercase">INCARICHI O PROGETTI</h2>
                                <p><b class="sottorosso">Da cosa nasce cosa.</b> Spesso, prima o dopo la campagna di co-marketing, nascono delle esigenze specifiche per una soltanto delle parti che diventano incarichi o progetti da condurre.</p>


                                <h2 class="text-uppercase">E se non ho una lista clienti o una comunicazione costante?</h2>
                                <p>
                                    <b class="sottorosso">Bhè, direi che è tempo di iniziare, non credi?</b><br />
                                    Il tuo tesoro è proprio nel contatto costante con le persone che ti conoscono, estrarlo è molto, molto semplice. <br />
                                </p>
                                <div class="text-center">
                                    <a href="/it/contattami"><b class="text-uppercase sottorosso" style="font-size: 120%;">Contattami così inizieremo subito!</b></a>
                                </div>
                            </div>
                        </div>
                        <!-- End error -->
                    </div>
                    <!-- Blog End -->
                </div>
                <!-- Blog Wrapper End -->
            </div>

        </div>
    </div>
</div>
<!-- Blog Section End -->