        <!-- CTA Section Start -->
        <div class="cta-section section" data-bg-color="rgb(251, 249, 246)" style="padding: 50px 0;">
            <div class="container animation-shape" id="Presentazione">
                <div class="row">
                    <div class="col-12">
                        <div class="cta-content-area">
                            <!-- Section Title Start -->
                            <div class="section-title text-center mb-0">
                                <span class="titoloFont"><%= titolo %></span>
                                <!-- <h2 class="title heading-color max-mb-30">COME POSSIAMO COLLABORARE</h2> -->
                                <!-- <a href="JavaScript:Void(0);" class="btn btn-primary btn-hover-secondary"> Get started for free</a> -->
                            </div>
                            <!-- Section Title End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CTA Section End -->


        