<div class="container ancore" id="TipiDiCollaborazione">
    <div class="col-lg-12 text-center titoloTipoCollaborazione">
        <h2>Collaborazione a progetto</h2>
    </div>
    </div>

    <!-- Gradation Process Section End -->
    <div class="gradation-process-section section py60">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="gradation-title-wrapper mb-50">
                        <!-- Section Title Start -->
                        <div class="section-title text-left mb-0" data-aos="fade-up">
                            <span class="sub-title">Piccolo obiettivo verticale</span>
                            <h2 class="title">Hai già un progetto definito e piccolo <br> <span>Budget: massimo 3000€</span></h2>
                        </div>
                        <!-- Section Title End -->


                        <div class="gradation-sub-heading" data-aos="fade-up">
                            <h3 class="heading"><mark>03</mark> Steps</h3>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ht-gradation style-01">
                        <!-- Single item gradation Start -->
                        <div class="item item-1">
                            <div class="line"></div>
                            <div class="circle-wrap">
                                <div class="mask">
                                    <div class="wave-pulse wave-pulse-1"></div>
                                    <div class="wave-pulse wave-pulse-2"></div>
                                    <div class="wave-pulse wave-pulse-3"></div>
                                </div>

                                <h6 class="circle">1</h6>
                            </div>

                            <div class="content-wrap">

                                <h5 class="heading">Mi condividi il progetto e fissiamo una call</h5>

                                <div class="text">Se hai una necessità, tipo migrare un applicativo tra server o su AWS, gestire il trasferimento di domini, integrazioni specifiche, <b>crea un progetto dell'attività e condividimelo</b>.</div>
                            </div>
                        </div>
                        <!-- Single item gradation End -->

                        <!-- Single item gradation Start -->
                        <div class="item item-1">
                            <div class="line"></div>
                            <div class="circle-wrap">
                                <div class="mask">
                                    <div class="wave-pulse wave-pulse-1"></div>
                                    <div class="wave-pulse wave-pulse-2"></div>
                                    <div class="wave-pulse wave-pulse-3"></div>
                                </div>

                                <h6 class="circle">2</h6>
                            </div>

                            <div class="content-wrap">

                                <h5 class="heading">Ti preparo un preventivo</h5>

                                <div class="text">Se dalla call e dal progetto avrò raccolto sufficienti informazioni, ti preparerò un preventivo con tempi e costi.</div>
                            </div>
                        </div>
                        <!-- Single item gradation End -->

                        <!-- Single item gradation Start -->
                        <div class="item item-1">
                            <div class="line"></div>
                            <div class="circle-wrap">
                                <div class="mask">
                                    <div class="wave-pulse wave-pulse-1"></div>
                                    <div class="wave-pulse wave-pulse-2"></div>
                                    <div class="wave-pulse wave-pulse-3"></div>
                                </div>

                                <h6 class="circle">3</h6>
                            </div>

                            <div class="content-wrap">

                                <h5 class="heading">Attività e delivery</h5>

                                <div class="text">Ti consegnerò ciò che concorderemo nei tempi e nelle modalità stabilite.</div>

                            </div>
                        </div>
                        <!-- Single item gradation End -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gradation Process Section End -->

    <hr />
     <!-- Gradation Process Section End -->
     <div class="gradation-process-section section" style="padding: 60px 0 110px 0;">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="gradation-title-wrapper mb-50">
                        <!-- Section Title Start -->
                        <div class="section-title text-left mb-0" data-aos="fade-up">
                            <span class="sub-title">Obiettivo vasto o ancora fumoso</span>
                            <h2 class="title">Hai in mente un progetto complesso ma devi ancora ragionare sui passi per attuarlo. <br><span>Budget: minimo 1500€</span></h2>
                        </div>
                        <!-- Section Title End -->


                        <div class="gradation-sub-heading" data-aos="fade-up">
                            <h3 class="heading"><mark>04</mark> Steps</h3>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ht-gradation style-01">
                        <!-- Single item gradation Start -->
                        <div class="item item-1">
                            <div class="line"></div>
                            <div class="circle-wrap">
                                <div class="mask">
                                    <div class="wave-pulse wave-pulse-1"></div>
                                    <div class="wave-pulse wave-pulse-2"></div>
                                    <div class="wave-pulse wave-pulse-3"></div>
                                </div>

                                <h6 class="circle">1</h6>
                            </div>

                            <div class="content-wrap">

                                <h5 class="heading">Fissiamo una call o un incontro</h5>

                                <div class="text">Fissiamo una call o un incontro con l'obiettivo di raccogliere le informazioni per quotarti un'analisi o un progetto in base al tipo di attività.</div>
                            </div>
                        </div>
                        <!-- Single item gradation End -->

                        <!-- Single item gradation Start -->
                        <div class="item item-1">
                            <div class="line"></div>
                            <div class="circle-wrap">
                                <div class="mask">
                                    <div class="wave-pulse wave-pulse-1"></div>
                                    <div class="wave-pulse wave-pulse-2"></div>
                                    <div class="wave-pulse wave-pulse-3"></div>
                                </div>

                                <h6 class="circle">2</h6>
                            </div>

                            <div class="content-wrap">

                                <h5 class="heading">Preventivo del progetto</h5>

                                <div class="text">Ti formulerò il preventivo per realizzare il progetto delle attività sulle quali abbiamo ragionato insieme.</div>
                            </div>
                        </div>
                        <!-- Single item gradation End -->

                        <!-- Single item gradation Start -->
                        <div class="item item-1">
                            <div class="line"></div>
                            <div class="circle-wrap">
                                <div class="mask">
                                    <div class="wave-pulse wave-pulse-1"></div>
                                    <div class="wave-pulse wave-pulse-2"></div>
                                    <div class="wave-pulse wave-pulse-3"></div>
                                </div>

                                <h6 class="circle">3</h6>
                            </div>

                            <div class="content-wrap">

                                <h5 class="heading">Definizione del progetto</h5>

                                <div class="text">Preparerò un documento che definisca con precisione le varie fasi dell'esecuzione, i ruoli, gli attori, le modalità di collaborazione e di interazione tra le persone che vi partecipano. Correderò il progetto con il preventivo della mia parte di esecuzione.</div>

                            </div>
                        </div>
                        <!-- Single item gradation End -->

                        <!-- Single item gradation Start -->
                        <div class="item item-1">
                            <div class="line"></div>
                            <div class="circle-wrap">
                                <div class="mask">
                                    <div class="wave-pulse wave-pulse-1"></div>
                                    <div class="wave-pulse wave-pulse-2"></div>
                                    <div class="wave-pulse wave-pulse-3"></div>
                                </div>

                                <h6 class="circle">4</h6>
                            </div>

                            <div class="content-wrap">

                                <h5 class="heading">Attività e delivery</h5>

                                <div class="text">Ti consegnerò ciò che concorderemo nei tempi e nelle modalità stabilite.</div>

                            </div>
                        </div>
                        <!-- Single item gradation End -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gradation Process Section End -->

    <div class="container">
        <div class="col-lg-12 text-center titoloTipoCollaborazione">
            <h2><span>Collaborazione "In Affitto"</span></h2>
        </div>
    </div>

    <!-- Success Faq Section Start -->
    <div class="success-faq-section section py60" style="margin-bottom: 70px;">
        <div class="container">
            
            <div class="row">
                <div class="col-12">
                    <div class="success-faq-area">

                        <div class="single-success-faq">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="success-faq-heading">
                                        <div class="icon">
                                            <i class="fas fa-arrow-right"></i>
                                        </div>
                                        <div class="text-wrap">
                                            <h4>Concordiamo quante giornate o mezze giornate a settimana ti sono necessarie e per quale periodo</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="success-faq-content">
                                        <!-- <div class="icon">
                                            <i class="fas fa-check"></i>
                                        </div> -->
                                        <div class="text-wrap">
                                            <p>Posso essere un membro della tua squadra per il periodo che ritieni necessario.</p>
                                            <p>Il tempo è tuo, dedicato a te, e può essere utilizzato per qualsiasi attività e con le priorità che ritieni più opportune.</p>
                                            <p>Nessuna necessità di progettare o di condividermi le informazioni necessarie ad effettuare le quotazioni.</p>
                                            <p>Lavoro per te, nulla di più semplice.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-success-faq" style="border-style: none; padding-bottom: 20px;"> 
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="success-faq-heading">
                                        <div class="icon">
                                            <i class="fas fa-arrow-right"></i>
                                        </div>
                                        <div class="text-wrap">
                                            <h4>Consulenza</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="success-faq-content">
                                        <div class="text-wrap">
                                            <p>La consulenza è solitamente erogata <span class="fst-italic">"in affito"</span>, ma spesso ad ore e non a giornate o mezze giornate.</p>
                                            <p>Accordiamo i temi della consulenza programmiamo gli obiettivi da raggiungere prima della successiva.</p>
                                            <p>
                                                Avremo un obiettivo specifico da sviscerare e ne nascerà una lista di attività che svolgerai da solo o con il tuo team.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Success Faq Section End -->